<div class="container-fluid">
    <div class="titulo row g-0 mb-3">
        <h3>Visitante externo</h3>
    </div>
    <div class="wrapper-formulario row g-0 mb-3">
        <div class="container-formulario">
            <h4 class="text-center">Registro</h4>
            <form [formGroup]="formExterno" (ngSubmit)="signup()" ngNativeValidate>
                <div class="mb-3">
                    <label for="nombres" class="form-label">Nombre(s):</label>
                    <input id="nombres" type="text" class="form-control" formControlName="nombres" required>
                </div>
                <div class="mb-3">
                    <label for="apellidos" class="form-label">Apellidos:</label>
                    <input id="apellidos" type="text" class="form-control" formControlName="apellidos" required>
                </div>
                <div class="mb-3">
                    <label for="empresa" class="form-label">Empresa:</label>
                    <input id="empresa" type="text" class="form-control" formControlName="empresa" required>
                </div>
                <div class="mb-3">
                    <label for="correo" class="form-label">Correo electrónico:</label>
                    <input id="correo" type="email" class="form-control" formControlName="correo" required>
                </div>
                <div class="container-boton">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-enviar">Enviar</button>
                        <button type="button" (click)="cancel()" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>