<nav>
    <div class="row g-0">
        <div class="col-2 col-lg-1 container-escudo">
            <a href=""><img class="escudo img-fluid" src="assets/img/escudo.png" alt="escudo"></a>
        </div>
        <div class="col-8 col-lg-10 container-titulo">
            <a class="titulo" href="">Sistema de Control de Asistencia Segura</a>
        </div>
        <div *ngIf="isLoggedIn()" class="col-2 col-lg-1 container-menu">
            <div class="dropdown">
                <button class="btn btn-cerrar-sesion dropdown-toggle" type="button" id="menu-navbar" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu" aria-labelledby="menu-navbar">
                  <li><button class="dropdown-item" (click)="logout()" type="button">Cerrar sesión</button></li>
                </ul>
            </div>
        </div>
    </div>
</nav>