.wrapper-descripcion{
    display: flex;
    justify-content: center;
}

.wrapper-enviar{
    display: flex;
    justify-content: center;
}

.container-enviar{
    padding: 1rem;
}

.container-boton{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btn-enviar{
    background-color: #C68D2A;
    color: white;
}

@media (min-width:600px){ 
    .container-descripcion, .container-enviar{
        width: 500px;
    }
}

@media (min-width:1024px) { 
    .container-descripcion, .container-enviar{
        width: 700px;
    }
}