<div class="container-fluid"> 
    <div class="wrapper-descripcion">
        <div class="container-descripcion row g-0">
            <h3 class="text-center">¡Bienvenido!</h3>
            <p class="text-center">
                Sesión iniciada con el usuario <strong>{{usuario}}</strong>.
            </p>
            <p>
                A continuación deberás contestar una encuesta con el fin de llevar un control de la salud y garantizar la
                seguridad de los asistentes a la facultad.
                
            </p>
            <p>
                Inicia el registro de tu asistencia a la facultad dando clic en el siguiente botón:
            </p>
            <div class="container-boton">
                <div class="btn-group">
                    <button class="btn btn-iniciar" (click)="cuestionario()">Iniciar registro</button>
                </div>
            </div>
        </div>
    </div>
</div>