<div class="container-fluid">
    <div class="wrapper-descripcion row g-0">
        <div class="container-descripcion">
            <h3 class="text-center">Cuestionario</h3>
            <p>Por favor responda el siguiente cuestionario con total honestidad para verificar si es posible tu asistencia</p>
        </div>
    </div>
    <div class="wrapper-cuestionario row g-0">
        <div class="container-cuestionario">
            <form [formGroup]="cuestionario" (ngSubmit)="enviar()" ngNativeValidate>
                <ng-container *ngFor="let question of pregPrimarias; let i = index">
                    <div formArrayName="preguntas" class="form-group" >
                        <div [formGroupName]="i">
                            <div class="mb-3">
                                <label for="pregunta_{{i+1}}" class="form-label">{{question.Pregunta}}</label>
                                <select id="pregunta_{{i+1}}" formControlName="respuesta" (change)="eleccion($event.target.value, i)" class="form-select" required>
                                    <option value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            
                            
                        </div>
                    </div>
                    <ng-container *ngIf="banderas[i]">
                        <div  formArrayName="preguntasSecundarias" class="form-group" *ngFor="let questionSec of pregSecundarias; let j = index">
                            <div *ngIf="questionSec.Enlace == question.IDPregunta" [formGroupName]="j">
                                <div class="mb-3">
                                    <label for="pregunta_{{j+1}}" class="form-label">{{questionSec.Pregunta}}</label>
                                    <select id="pregunta_{{j+1}}" formControlName="respuesta" class="form-select" required>
                                        <option value="si">Si</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                
                <div class="container-boton">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-enviar">Enviar</button>
                        <button type="button" (click)="cancelar()" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>